body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn-modern {
    padding: 5px 10px;
    transition: all 0.4s;
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 5px blue;
    background-color: green;
    color: white;
}

